:root {
  --green: #80E096;
  --dark: #343a40;
  --light: #f8f9fa;
  --gray: #B0B5BA;
  --border-gray: #aaa;
  --purple: #A5A4EA;
  --light-blue: #A7C6FE;
  --yellow: #ffc107;
  --aqua: #5bc0de;
  --pink: #E68989;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  color: var(--light);
  background-color: var(--dark);

  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 96vh;
  padding: 15px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 2em;
  color: var(--purple);
}

button {
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.comment-form > button {
  color: var(--green);
  border: 2px solid var(--green);
  background-color: var(--dark);
  margin: 1em;
}

.comment-form > button:hover, .comment-form > button:focus {
  color: var(--dark);
  background-color: var(--green);
}

.comment-form > textarea {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background-color: var(--gray);
  width: 100%;
  font-size: 1.2em;
  height: 100px;
  border-radius: 5px;
  resize: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

main::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: inherit;
}

.old-comments {
  margin: 1em 0;
}

.comment {
  border: 3px solid var(--light-blue);
  border-radius: 10px 25px;
  padding: 0 1em;
  margin-top: 1em;
  box-shadow: 0 8px 3px rgba(34, 25, 25, 0.4);
}

h2 {
  color: var(--yellow);
  font-size: 1.2em;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.login-form > div {
  margin: 8px;
}

.login-form > div > div {
  margin: 8px;
  margin-top: 20px;
}

.login-form > div > div > label {
  font-weight: bold;
}

.login-form > div > div > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background-color: var(--gray);
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
  margin-top: 4px;
}

.login-form > div > button {
  color: var(--aqua);
  border: 2px solid var(--aqua);
  background-color: var(--dark);
}

.login-form > div > button:hover, .login-form > div > button:focus {
  color: var(--dark);
  background-color: var(--aqua);
}

.user {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
  gap: 10px;
}

.user > button {
  color: var(--pink);
  border: 2px solid var(--pink);
  background-color: var(--dark);
  padding: 8px 12px;
}
.user > button:hover, .user > button:focus {
  color: var(--dark);
  background-color: var(--pink);
}