@import './styles/variables.css';

body {
  font-family: Verdana, Helvetica, sans-serif;
  color: var(--light);
  background-color: var(--dark);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 96vh;
  padding: 15px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .app {
    padding: 15px 75px;
  }
  
  .menu {
    flex-direction: row;
  }
}

h1 {
  font-size: 2em;
  color: var(--purple);
  margin-top: 0;
}

button {
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.comment-form > button {
  color: var(--green);
  background-color: var(--dark);
  border: 2px solid var(--green);
  margin: 1em;
}

.comment-form > button:hover, .comment-form > button:focus {
  color: var(--dark);
  background-color: var(--green);
}

.comment-form > textarea {
  flex-grow: 1;
  box-sizing: border-box;
  background-color: var(--gray);
  width: 100%;
  height: 100px;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 10px 6px;
  resize: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

main::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: inherit;
}

.old-comments {
  margin-bottom: 0.75em;
}

.comment {
  background-color: var(--darker);
  border: 3px solid var(--light-blue);
  border-radius: 10px 25px;
  padding: 0 1em;
  margin-top: 1em;
  box-shadow: 0 8px 3px var(--shadow);
}

@media screen and (min-width: 992px) {
  .comment {
    padding: 0.5em 2em;
    margin-top: 2em;
  }
}

h2 {
  color: var(--yellow);
  font-size: 1.2em;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.login-form > div {
  margin: 8px;
}

.login-form > div > div {
  margin: 8px;
  margin-top: 20px;
}

.login-form > div > div > label {
  font-weight: bold;
}

.login-form > div > div > input {
  flex-grow: 1;
  box-sizing: border-box;
  background-color: var(--gray);
  font-size: 1em;
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  width: 100%;
  padding: 10px 6px;
  margin-top: 4px;
}

.login-form > div > button {
  color: var(--aqua);
  background-color: var(--dark);
  border: 2px solid var(--aqua);
}

.login-form > div > button:hover, .login-form > div > button:focus {
  color: var(--dark);
  background-color: var(--aqua);
}

.user {
  display: flex;
  align-self: flex-start;
  align-items: center;
  font-weight: bold;
  gap: 10px;
  margin-bottom: 20px;
}

.user > button {
  color: var(--pink);
  background-color: var(--dark);
  border: 2px solid var(--pink);
  padding: 8px 12px;
}

.user > button:hover, .user > button:focus {
  color: var(--dark);
  background-color: var(--pink);
}